# Beállítja, hogy a konténerben futó Airflow milyen felhasználói ID-vel fusson
# (Ez a host gépeden lévő felhasználói ID legyen, hogy ne legyen jogosultsági probléma a 'dags' mappa írásánál)
# Linux/Mac esetén futtasd le a 'id -u' parancsot a terminálban, és másold ide az eredményt.
AIRFLOW_UID=

# Airflow beállítások
AIRFLOW__CORE__EXECUTOR=
AIRROW__CORE__LOAD_EXAMPLES=
AIRFLOW__WEBSERVER__SECRET_KEY=
# A DWH adatbázis beállításai (ezt fogják használni a DAG-jeid)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

BKK_API_KEY=
OPEN_WEATHER_API_KEY=
HOLIDAY_API_KEY=

DATA_RETENTION_DAYS=